.btn {
  @apply text-center rounded-md py-2 px-4 bg-primary-500 text-white;
  &:hover, &:focus {
    @apply bg-primary-300;
  }
    
  &.btn--disabled,
  &[disabled='true'],
  :disabled {
    @apply text-gray-400 cursor-not-allowed;
  }
}
